body {
  background-color: #9b1d22;
}

img {
  width: 98%;
  margin: 15px;
  border: 5px solid #233a75;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.about {
  padding: 10px;
  background-color: white;
  margin: 15px;
  font: arial;
  font-size: x-large;
  border: 5px solid #233a75;
}

.contact {
  padding: 10px;
  background-color: white;
  margin: 15px;
  font: arial;
  font-size: x-large;
  width: 65%;
  border: 5px solid #233a75;
  float: left;
}

.actionshot {
  float: left;
  width: fit-content;
}

.icons {
  clear: both;
}

.fa {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 15px;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
